/cache/
/outputs/
/logs/
/cache_hyperskin/
/outputs_hyperskin/
/logs_hyperskin/
/cache_grid16/
/outputs_grid16/
/logs_grid16/
/cache_hyperskin_grid16/
/outputs_hyperskin_grid16/
/logs_hyperskin_grid16/
/cache*_face224/
/outputs*_face224/
/logs*_face224/
/logs_autostart/
